* {
  box-sizing: border-box;
}

.dashboard .flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  border: 1px solid black;
}

.dashboard .flex-container .flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.dashboard .flex-container .flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}
