* {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(243, 243, 243);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

hr {
  background-color: rgb(243, 243, 243);
  margin: 0px;
}

.main_body {
  display: flex;
}

.main_body > .nav {
  width: 20%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.side_bar {
  background-color: #fff;
  height: 85%;
}
.side_bar .side_bar_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.side_bar .side_bar_menu .menu_item {
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.side_bar .side_bar_menu .menu_item:hover {
  background-color: rgb(61, 99, 167);
  color: antiquewhite;
}

.side_bar .side_bar_menu .menu_item a {
  text-decoration: none;
}
.side_bar .side_bar_menu .menu_item a:visited {
  text-decoration: none;
  color: black;
}

.side_bar .side_bar_menu .menu_item a:active {
  color: blue;
}
.side_bar .side_bar_menu .menu_item .icon {
  margin-left: 10px;
  margin-right: 15px;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 10px;
}

.main_body > .body .header {
  width: 92%;
  height: 70px;
  margin-bottom: 10px;
  background-color: #fff;
  display: flex;
  justify-content: right;
  align-items: center;
}
.main_body > .mobile_nav {
  display: none;
}
.main_body > .body .content {
  width: 92%;
}

.main_body > .body .header .profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgb(61, 99, 167);
}

.main_body > .body .header .profile:hover {
  background-color: rgb(61, 99, 167);
}

.main_body > .body .header span {
  cursor: pointer;
  margin-right: 18px;
}

.main_body > .body .filter {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

.main_body > .body .filter .options_filter {
  background-color: #fff;
  margin-left: 10px;
  padding: 4px;
}
.main_body > .body .filter .options_filter select {
  border: none;
  color: rgb(61, 99, 167);
}

.main_body > .body .filter .options_filter select option {
  color: rgb(61, 99, 167);
}

.main_body > .body .header .hamburger {
  display: none;
}

.main_body > .body .content_display {
  background-color: #fff;
  min-height: 400px;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1;
  display: none;
}

@media only screen and (max-width: 600px) {
  .main_body > .nav {
    display: none;
  }
  .main_body > .mobile_nav {
    height: 100vh;
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
    position: fixed;
    right: 0;
    z-index: 9;
  }
  .mobile_nav > .side_bar {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .mobile_nav > .side_bar .side_bar_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .main_body > .body .header .arrow_down {
    display: none;
    border: 1px solid black;
  }
  .main_body > .body .header .hamburger {
    display: inline;
    position: relative;
  }
}
