.Transaction table {
  border: 1px solid black;
}

.Transaction td {
  background-color: #ffffff;
  padding: 5px;
}

.Transaction th {
  color: #000;
  cursor: pointer;
  font-weight: normal;
  padding: 5px;
  text-align: center;
}

.Transaction .NotSortable {
  cursor: default;
}

.Transaction .Editable {
  cursor: cell;
}

.Transaction .ExcelEditable:hover {
  background: #fbfbfb;
}

.Transaction .DataCenter {
  text-align: center;
}

.Transaction .DataLeft {
  padding: 0 10px;
  text-align: left;
}

.Transaction .DataRight {
  text-align: right;
}
